/**
 * size
 **/
$--size-header-height: 60px;

/**
 * colors
 **/
$--color-bg-nav: rgb(36, 41, 46);
$--color-bg-primary: #311b92;
$--color-dark: rgba(36, 41, 46, 0.95);
$--color-primary: #673ab7;
$--color-bg-banner: #4527a0;
