<div class="layer">
  <div>This is <%= name %> layer</div>
  <ul>
    <% for (var i = 0; i < arr.length; i++) { %>
      <li><%= arr[i] %></li>
    <% } %>
  </ul>
  <div class="pic">
    <img src="${ require('../../img/pic.jpg') }" width="200">
  </div>
</div>
