html, body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body {
  overflow: hidden;
  padding-top: 60px;
}

.aside-wrapper {
  position: fixed;
  z-index: 10;
  top: 60px;
  left: 0;
  bottom: 0;
  width: 210px;
  ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    height: 40px;
    line-height: 40px;
    a {
      display: block;
      padding: 0 20px;
      opacity: 0.8;
      color: #24292e;
      text-decoration: none;
      &:hover {
        opacity: 1;
      }
    }
    &.is-current {
      a {
        font-weight: bold;
        text-decoration: underline;
      }
    }
  }
}

main {
  position: fixed;
  top: 60px;
  right: 0;
  left: 210px;
  bottom: 0;
  overflow-y: auto;
  outline: none;
}

.font-size-zero {
  font-size: 0;
}

@media screen and (max-width: 640px) {
  header {
    h1 {
      font-size: 16px;
    }
    .icon-menu {
      display: block;
    }
  }
  .aside-wrapper {
    //display: none;
    bottom: auto;
    width: 100%;
    background: rgba(255,255,255, 0.8);
    transition: all 0.3s ease-in-out;
    transform: scaleY(1);
    opacity: 1;
    transform-origin: center top;
    &:before {
      content: '';
      position: absolute;
      top: -7px;
      right: 64px;
      border-bottom: 7px solid rgba(255,255,255, 0.6);
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
    }
    &.hide {
      transform: scaleY(0);
      opacity: 0;
    }
  }
  main {
    left: 0;
  }
}
