html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  a {
    display: flex;
    align-items: center;
    height: 2rem;
    padding: 0 0.5rem;
    &.is-active {
      background: rgba(255, 255, 255, 0.5);
    }
    &:hover {
      color: #fff;
    }
  }
}
