/**
 * Created by dev3cli.
 * https://github.com/capricorncd/dev3cli
 * Date: 2021-05-08 11:10:37
*/
body {
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  position: fixed;
  top: 20px;
  right: 20px;
  text-decoration: none;
  opacity: 0.6;
  &:hover {
    opacity: 0.8;
  }
  svg {
    fill: currentColor;
    color: #fff;
  }
}
