$imgHeight: 236px;

.github-wrapper {
  margin: 0 auto;
  padding-bottom: $--size-header-height;
  max-width: 1200px;
  .github-item-wrapper {
    position: relative;
    margin: $--size-header-height 30px 0;
    color: #333;
    height: $imgHeight;
    padding-bottom: $--size-header-height;
    border-bottom: 1px solid rgba(69, 39, 160, .5);
    overflow: hidden;
    //&:last-child {
    //  padding-bottom: 0;
    //  border: 0;
    //}
    dt, dd {
      padding: 0;
      margin: 0;
    }
    .npm-items {
      a {
        margin-right: 4px;
      }
    }
    .l {
      position: absolute;
      top: 0;
      width: 420px;
      height: $imgHeight;
      border-radius: 4px;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      background: $--color-dark;
      img {
        width: 100%;
        height: auto;
        opacity: 0.9;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
      }
      &:hover {
        img {
          opacity: 0.98;
          transform: scale(1.05);
        }
      }
    }
    .r {
      dt {
        font-size: 2rem;
      }
      dd {
        margin-top: 10px;
        color: #333;
        text-align: justify;
      }
    }
    &:nth-child(2n-1) {
      .l {
        left: 0;
      }
      .r {
        margin: 0 0 0 450px;
      }
    }
    &:nth-child(2n) {
      .l {
        right: 0;
      }
      .r {
        margin: 0 450px 0 0;
      }
    }
  }
}

@media screen and (max-width: 720px) {
  .github-wrapper {
    .github-item-wrapper {
      margin-top: 40px;
      padding-bottom: 40px;
      height: auto;
      .l {
        position: relative;
        width: 100%;
        //height: auto;
        img {
          width: auto;
          height: 100%;
        }
      }
      .r {
        margin: 10px 0 0 !important;
      }
    }
  }
}
