footer {
  padding: 20px 0;
  width: 100%;
  text-align: center;
  background: $--color-bg-banner;
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.8rem;
  //p {
  //  margin: 5px auto 0;
  //  font-size: 0.75rem;
  //  letter-spacing: 2px;
  //  font-weight: 300;
  //}
}
