/**
 * Created by dev3cli.
 * https://github.com/capricorncd/dev3cli
 * Date: 2021-05-03 14:52:50
*/
body {
  background: #000;
}

#app {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  width: 60%;
  text-align: center;
  color: #fff;
  p {
    text-align: justify;
    span {
      display: inline-block;
      &.active {
        animation: smoke 10s linear forwards;
        transform-origin: bottom;
      }
    }
  }
}

canvas {
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
}

.rain {
  position: fixed;
  height: 1px;
  width: 1px;
  border-bottom: 150px solid #fff;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  filter: blur(1px);
  transform: scale(0.5);
}

@keyframes smoke {
  0% {
    opacity: 1;
    filter: blur(0);
    transform: translate(0, 0) rotate(0) scale(1);
  }
  20% {
    opacity: 0;
    filter: blur(20px);
    transform: translate(300px, -300px) rotate(720deg) scale(4);
  }
  21% {
    opacity: 0;
    filter: blur(0);
    transform: translate(0, 0) rotate(0) scale(1);
  }
}
