header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: $--size-header-height;
  display: flex;
  align-items: center;
  background: #2a0e74;
  .page-title-wrapper {
    margin-left: 20px;
    font-size: 24px;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 500;
    i {
      font-style: normal;
      //color: #7e57c2;
    }
  }
  .github {
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -12px;
    font-size: 0;
    opacity: 0.6;
    &:hover {
      opacity: 0.8;
    }
    svg {
      fill: currentColor;
      color: #fff;
    }
  }
}
