<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <!--<script src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"></script>-->
</head>
<body>
  <!--<h1>-->
    <!--<%= htmlWebpackPlugin.options.date %>-->
  <!--</h1>-->
  <!--<h2>htmlWebpackPlugin.files</h2>-->
  <!--<div>-->
    <!--<% for (var key in htmlWebpackPlugin.files) { %>-->
      <!--<%= key %> : <%= JSON.stringify(htmlWebpackPlugin.options[key]) %>-->
    <!--<% } %>-->
  <!--</div>-->
  <!--<h2>htmlWebpackPlugin.options</h2>-->
  <!--<div>-->
    <!--<% for (var key in htmlWebpackPlugin.options) { %>-->
      <!--<%= key %> : <%= JSON.stringify(htmlWebpackPlugin.options[key]) %>-->
    <!--<% } %>-->
  <!--</div>-->
  <!--<script src="<%= htmlWebpackPlugin.files.chunks.page1.entry %>"></script>-->
</body>
</html>
